:root {
  font-family: comfortaa;
  --blue: rgba(99, 176, 243, 0.849);
  --red: #fc5858;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 150px 400px 100px;
  align-content: center;
  align-items: center;
  justify-items: center;
}

button {
  padding: 10px;
  border: none;
  font-family: comfortaa;
}
button:active {
  opacity: 70%;
}

header {
display: flex;
flex-direction: column;
align-items: center;
}
.score {
  border-radius: 8px;
  margin: 0;
  padding: 10px 20px;
  background-color: #d9d9d9;
}

main {
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-section,
.computer-section {
  background-color: aliceblue;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.player-section:hover,
.computer-section:hover {
  outline: solid var(--blue); /*Change color*/
}
.player-section > button,
.computer-section > button {
  height: 50px;

}
.player-section > img,
.computer-section > img {
  width: 250px;
  height: 200px;
  background-color: var(--blue);
  object-fit: cover;
}

footer {
  grid-row: 3;
}
footer > button {
  width: 150px;
  height: 50px;
  font-size: 16px;
}
footer > button:hover {
  background-color: var(--blue);
}

.grid-container {
  width: 250px;
  display: grid;
  grid-template-rows: 50px 255px;
  align-content: center;
}

.choice-section {
  background-color: var(--red);
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}
.x-button,
.o-button {
  border-radius: 5px;
}

.grid {
  background-color: rgba(177, 177, 177, 0.39);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}
.grid-cell {
  background-color: white;
  padding: 30px;
}

.alert-section {
  position: absolute;
  visibility: hidden;
  background-color: #d9d9d99e;;
  width: 250px;
  height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alert-section > p {
  text-align: center;
}
.alert-button {
  display: flex;
  justify-content: space-around;
}
.restart-button,
.quit-button {
  text-align: center;
  border: none;
  width: 80px;
} 
.restart-button:hover,
.quit-button:hover {
  outline: solid var(--red);
} 
/*154*/